Source: libextutils-parsexs-perl
Section: perl
Priority: optional
Build-Depends: debhelper (>= 7)
Build-Depends-Indep: perl, libextutils-cbuilder-perl
Maintainer: Debian Perl Group <pkg-perl-maintainers@lists.alioth.debian.org>
Uploaders: AGOSTINI Yves <agostini@univ-metz.fr>,
 Jonathan Yu <frequency@cpan.org>, Damyan Ivanov <dmn@debian.org>
Standards-Version: 3.8.3
Homepage: http://search.cpan.org/dist/ExtUtils-ParseXS/
Vcs-Svn: svn://svn.debian.org/pkg-perl/trunk/libextutils-parsexs-perl/
Vcs-Browser: http://svn.debian.org/viewsvn/pkg-perl/trunk/libextutils-parsexs-perl/

Package: libextutils-parsexs-perl
Architecture: all
Depends: ${perl:Depends}, ${misc:Depends}, libextutils-cbuilder-perl
Description: Perl utility to process Perl XS code into C code
 ExtUtils::ParseXS provides a modular way of compiling Perl XS code into the
 appropriate C code by embedding the constructs necessary to let C functions
 manipulate Perl values and creating the glue necessary to let Perl access
 those functions. It is functionally similar to the "xsubpp" program included
 with perl and in fact provides a drop-in replacement for it.
