Source: libextutils-parsexs-perl
Section: perl
Priority: optional
Build-Depends: debhelper (>= 5.0.0)
Build-Depends-Indep: perl (>= 5.8.0-7), libextutils-cbuilder-perl
Maintainer: Florian Ragwitz <rafl@debian.org>
Standards-Version: 3.7.2

Package: libextutils-parsexs-perl
Architecture: all
Depends: ${perl:Depends}, ${misc:Depends}, libextutils-cbuilder-perl
Description: convert Perl XS code into C code
 ExtUtils::ParseXS will compile XS code into C code by embedding the
 constructs necessary to let C functions manipulate Perl values, and
 creates the glue necessary to let Perl access those functions.
 .
 This is all the same functionality as the "xsubpp" program included
 with perl -- and in fact there's an "xsubpp" replacement script
 included in this package -- but this package's modular interface may
 be more convenient for some purposes.
